
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

// TBD
@import "preferences";
@import "admin";
.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

#userInfo {
  margin: auto
}

#bookPage {
  padding-left: 0;
  padding-right: 0;
  height: 100%;
  flex-flow: column;
  flex: 1;
  display: flex;
}

@media only screen and (max-width: 768px) {
  div.d-sm-none {
    display:none;
  }
  .bookHeight {
    max-height: 300px;
  }
  .alignXS {
    text-align: center;
  }

  .bottomBorder {
    border: grey;
    border-style: solid;
    border-width: 0 0 1px 0;
    margin-bottom: 10px;
    padding-bottom: 5px;
  }
  #mainNavbar {
    overflow-y:auto;
  }

  .bookScroll {
    overflow-y: auto;
  }
}

@media only screen and (min-width: 768px) {
  .bookHeight {
    max-height: 150px;
  }

  .bookReviews {
    overflow-y: auto;
  }

  .bottomBorder {
    border: grey;
    border-style: solid;
    border-width: 0 0 1px 0;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  .bookFlex {
    display: flex;
  }
}

#currencyList {
  max-height: 300px;
  overflow-y: scroll;
  margin-top: 8px;
}

#individualBookPage {
  height:100%;
}

#bookPageRightHeader {
  display: flex;
  flex-direction: column;
  text-align: right;
  align-self: flex-end;
}
